---
import "../styles/global.css";
---
<!doctype html>
<html lang="en" data-theme="Eva" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="h-full">
    <header>
      <nav class="navbar bg-base-200 shadow-md px-6">
        <div class="flex-1">
          <a href="/" class="btn btn-ghost text-xl">Accueil</a>
        </div>
        <div class="flex-none flex gap-2">
          <a href="/generator" class="btn btn-secondary">Generator</a>
          <a href="/gallery/index.astro" class="btn btn-secondary">Gallery</a>
        </div>
      </nav>
    </header>
    <div class="h-full flex flex-col min-h-0">
      <div class="flex-1 min-h-0">
        <slot />
      </div>
    </div>

    <footer class="footer footer-center p-4 bg-base-200 text-base-content">
      <div>
        <p>© 2024 Astro Basics — Lacroix Eva TP3</p>
      </div>
    </footer>
  </body>
</html>
